# Add any directories, files, or patterns you don't want to be tracked by version control
wp-config.php
error_log
/vendor/
/vendor/**/.git
/import-database-sql-file-using-PHP-script-master/
/cache/
/db_dump/filename[0-9].sql
**/cache
*.cache
*.zip
*wp-wonfig.php
*.import.php
*.htaccess
*.syncdb
*.syncdb-config
/tests/_files/tmp
/vendor
/composer.lock
/.idea
/.php_cs.cache